<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SecurePic</title>
    <meta name="description" content="loading">
    <meta name="author" content="html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Pretendard&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Calistoga&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/pages/loading/css/styles.css">
    <style>
        body, html {
            margin: 0;
            padding: 0;
            width: 100%;
            overflow-x: hidden; /* 가로 스크롤바가 생기지 않도록 설정 */
            overflow-y: hidden;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="rectangle17"></div>
        <div class="top_box"></div>
        <div class="frame">
            <div class="securepic">SecurePic</div>
        </div>
        <div class = "loading_spinner"></div>
        <div class="processing_text">
            블러 처리 중입니다.<br>잠시만 기다려주세요!
        </div>
    </div>
    <script src="/static/pages/loading/js/app.js"></script>
</body>
</html>
